{% extends "base.html" %}
{% block head %}
{{ super() }}
<title> Camera Assignment Tool</title>

<script> 
    function assignmentChange(obj) {
        var values = Sijax.getFormValues('#camera_assignment_form');
        Sijax.request('assignment_change',[values]);
    }
</script>

<script>
    function clearForm(obj) {
        var values = Sijax.getFormValues('#camera_assignment_form');
        Sijax.request('clear_form',[values]);
    }
</script>

<script>
    function assignmentSave(obj) {
        var values = Sijax.getFormValues('#camera_assignment_form');
        Sijax.request('assignment_save',[values]);
    }
</script>

{% endblock %}
{% block content %}
{{ super() }}
<h1> Camera Assignment Tool </h1>
<form id="camera_assignment_form">
    <table>
        {% for camera_id, info in mjpeg_info_dict.iteritems() %}
        {% if loop.index0%4 == 0 %}
        <tr>
        {% endif %}
            <td>
                <div>
                    <a href="http://localhost:{{info['mjpeg_port']}}/stream?topic={{info['camera_topic']}}_throttle">
                        <img src="http://localhost:{{info['mjpeg_port']}}/stream?topic={{info['camera_topic']}}_throttle?width=320?height=240?quality=60" />
                    </a>
                    <div> 
                        <select name="{{camera_id}}" id="select_{{camera_id}}" onchange="return assignmentChange(this);" >
                            {% for value in select_values %}
                            {% if value == camera_assignment[camera_id] %}
                            <option value="{{value}}" selected="selected" id="option_{{camera_id}}_{{value}}"> {{value}} </option>
                            {% else %}
                            <option value="{{value}}" id="option_{{camera_id}}_{{value}}"> {{value}} </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        &nbsp &nbsp &nbsp
                        GUID: {{camera_id}} 
                    </div>
                </div>
            </td>
        {% if loop.index0%4 == 3 or loop.last%}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <br>
    <br>
    <button name="save_button" onclick="assignmentSave(this); return false;"> Save </button> 
    <button name="clear_button" onclick="clearForm(this); return false;"> Clear </button>
</form>

<p id="message">  </p>

{% endblock %}

