<launch>
    <include file="$(find mct_light_control)/launch/mightex_led_control.launch" />
    <include file="$(find mct_camera_trigger)/launch/camera_trigger.launch" />
    <include file="$(find mct_camera_tools)/launch/camera_parameter_manager.launch"/>
    <include file="$(find mct_camera_tools)/launch/camera1394_master.launch" />
    <include file="$(find mct_camera_tools)/launch/image_proc_master.launch" /> 
    <include file="$(find mct_frame_drop_corrector)/launch/frame_drop_corrector_master.launch" >
        <arg name="mode" value="tracking_2d" />
    </include>
    <include file="$(find mct_frame_skipper)/launch/frame_skipper_master.launch"/>
    <include file="$(find mct_image_stitcher)/launch/image_stitcher_master.launch" />
    <include file="$(find mct_tracking_2d)/launch/three_point_tracker_master.launch" />
    <include file="$(find mct_tracking_2d)/launch/stitched_image_labeler_master.launch" />
    <include file="$(find mct_watchdog)/launch/time_stamp_watchdog.launch" />
    <include file="$(find mct_avi_writer)/launch/avi_writer_master.launch" />
    <include file="$(find mct_logging)/launch/tracking_pts_logger_master.launch" />
    <include file="$(find mct_camera_tools)/launch/mjpeg_manager.launch" /> 
    <include file="$(find mct_web_apps)/launch/tracking_2d_app.launch" /> 
</launch>
