<launch>
    <include file="$(find mct_light_control)/launch/mightex_led_control.launch" />
    <include file="$(find mct_camera_trigger)/launch/camera_trigger.launch" />
    <include file="$(find mct_camera_tools)/launch/camera1394_master.launch" />
    <include file="$(find mct_camera_tools)/launch/image_proc_master.launch" /> 
</launch>
