{% extends "base.html" %}
{% block head %}
{{ super() }}
<title> MCT: Camera Calibration Tool</title>

<script>
    function buttonRequest(name) {
        Sijax.request(name);
    }
</script>

<script>
    function resetButtonRequest() {
        var ans = confirm('Reset camera calibration?');
        if (ans) {
            buttonRequest('reset_button_ok');
        }
        else{
            buttonRequest('reset_button_cancel');
        }
    }
</script>

<script type="text/javascript">
    function reload_page() {
        var scale = document.getElementById('mjpeg_scale').value;
        var url = window.location.href;
        if (url.indexOf("?")>-1){
            url = url.substr(0,url.indexOf("?"));
        }
        window.location.href = url + "?scale=" + scale;
        return false;
    }
</script>

{% endblock %}
{% block content %}
{{ super() }}
<h1 style="color:blue" > MCT: Camera Calibration Tool </h1>
<br>

<form id="mjpeg_scale_form">
    scale
    <select name="mjpeg_scale" id="mjpeg_scale" onChange="reload_page()">
        {% for val in scale_options %}
        <option value="{{val}}" {%if val == scale %} selected="selected" {% endif %}> {{val}} </option>
        {% endfor %}
    </select>
    &nbsp;
    &nbsp;
    chessboard
    <select>
        <option> 8 </option>
        <option> 9 </option>
    </select>
    x
    <select>
        <option>6</option>
        <option>7</option>
    </select>
    &nbsp;
    &nbsp;
    square
    <input type="text"> </input>

</form>

<form id="camera_view_form">
    <table id="mjpeg_table">
        {% for camera, info in mjpeg_info %}
        {% if loop.index0%4 == 0 %}
        <tr>
        {% endif %}
            <td>
                <div>
                    <div>
                        <a href="http://{{ip_iface_ext}}:{{info['mjpeg_port']}}/stream?topic={{info['image_topic']}}">
                            <img id="{{camera}}" src="http://{{ip_iface_ext}}:{{info['mjpeg_port']}}/stream?topic={{info['image_topic']}}?width={{image_width}}?height={{image_height}}" />
                        </a>
                    </div>
                    <div>
                        {{ camera | title }} 
                    </div>
                </div>
            </td>

        {% if loop.index0%4 == 3 or loop.last%}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</form>

<form>
    <button onclick="buttonRequest('calibrate_button_onclick'); return false;"> Calibrate </button>
    <button onclick="buttonRequest('save_button_onclick'); return false;"> Save </button>
    &nbsp;&nbsp;
    <button onclick="resetButtonRequest(); return false;"> Reset </button> 
</form>


<p id="develop"> </p>

{% endblock %}
