{% extends "tracking_2d_base.html" %} 

{% block head %}
{{ super() }}
<title> MCT:Tracking {{extra_video_name.title()}} </title>

{% endblock %}

{% block content %}
{{ super() }}

<div id="Wrapper">
    <div id="Navigation">
    {{ tabs.display_tabs(extra_video_name, tab_list) }}
    </div>
    <div id="Content">
        <br>
        <h2> {{extra_video_name.title()}}: {{extra_video_mjpeg_info['image_topic']}}
        </h2>

        <h3>
            Scale:
            <select>
                <option selected="selected"> 1 </option>
            </select>
        </h3>
        <div>
            <img id="image_extra_video" src="http://{{ip_iface_ext}}:{{extra_video_mjpeg_info['mjpeg_port']}}/stream?topic={{extra_video_mjpeg_info['image_topic']}}_throttle" />
        </div>


    </div>
</div>

{% endblock %}
