{% extends "tracking_2d_base.html" %} 

{% block head %}
{{ super() }}
<title> MCT:Tracking Control</title>
<script>
    function modeChangeRequest(mode) {
        Sijax.request('mode_change_request', [mode,]);
    }
</script>

<script type="text/javascript"> 
    setTimeout(function() { 
            Sijax.request('timer_update'); 
            setTimeout(arguments.callee,1000); 
            }, 1000); 
</script>

{% endblock %}

{% block content %}
{{ super() }}

<div id="Wrapper">
    <div id="Navigation">
    {{ tabs.display_tabs('control', tab_list) }}
    </div>
    <div id="Content">
        <br>
        <h2> Operating Mode </h2>
        <form name="mode form">
            {% for mode in operating_modes %}
            <input id={{mode}} type="radio" name="mode" value="{{mode}}"  {% if mode==current_mode %}  checked {% endif %} onchange="modeChangeRequest('{{mode}}');"
            >  {{mode.title()}}  
            {% endfor %}
        </form>
        <br>
        <br>

        <h2> Time Stamp Watchdog</h2>
        <div style="width: 450px; border:2px solid blue;">
            <img id="image_watchdog_info" src="http://{{ip_iface_ext}}:{{watchdog_mjpeg_info['mjpeg_port']}}/stream?topic={{watchdog_mjpeg_info['image_topic']}}" />
        </div>
        <br>
        <br>

        <h2> Logging </h2>
        {% for k,v in logging_params_dict.iteritems() %}
            <ul>
                <li> {{k.title()}} {{v}}</li>
            </ul>
            
        {% endfor %}
        <br>
        <br>

        <h2> Tracking Regions </h2>
        {% for region, camera_list in regions_dict.iteritems() %}
        <ul>
            <li> 
                <strong> {{region.title()}}: </strong>  
                {% for camera in camera_list %}
                {% if loop.index0 > 0 %}, {% endif  %}
                {{camera}}
                {% endfor %}
            </li>
        </ul>
        {% endfor %}
        <br>
        <br>

        <h2> Extra Video </h2>
        {% for k,v in extra_video_dict.iteritems() %}
        <ul>
            <li> 
            {{k}}, {{v}}
            </li>
        </ul>
        {% endfor %}
        <br>
        <br>

        <h2> Transform 2D Calibration </h2>
        <ul>
        {% for region, pairs_list in camera_pairs_dict.iteritems() %}
            <li> 
                <strong> {{region.title()}}  </strong>
                <table id="DisplayTable">
                {% for pair in pairs_list %}
                    <tr>
                        <td> {{pair}} </td>   <td> {{transform_2d_cal_info[pair]['modified']}} </td>
                    </tr>
                {% endfor %}
                </table>
                <br>
            </li>
        {% endfor %}
        </ul>
        <br>


        <h2> Homography Calibration </h2>
        <ul>
        {% for region, camera_list in regions_dict.iteritems() %}
            <li> 
                <strong> {{region.title()}}  </strong>
                <table id="DisplayTable">
                {% for camera in camera_list %}
                    <tr>
                        <td> {{camera}} </td>   <td> {{homography_cal_info[camera]['modified']}} </td>
                    </tr>
                {% endfor %}
                </table>
                <br>
            </li>
        {% endfor %}
        </ul>
        <br>

        <h2> Camera Calibration </h2>
        <ul>
        {% for region, camera_list in regions_dict.iteritems() %}
            <li> 
                <strong> {{region.title()}}  </strong>
                <table id="DisplayTable">
                {% for camera in camera_list %}
                    <tr>
                        <td> {{camera}} </td>   <td> {{camera_cal_info[camera]['modified']}} </td>
                    </tr>
                {% endfor %}
                </table>
                <br>
            </li>
        {% endfor %}
        </ul>
        <br>

        <!-- 
        <h2> Camera Assignment </h2>
        {% for camera in all_cameras_sorted %}
        <table id="DisplayTable">
            <tr>
                <td> {{camera}}
                <td> {{camera_assignment[camera]['guid']}} </td>
                <td> {{camera_assignment[camera]['machine']}} </td>
            </tr>
        </table>
        
        {% endfor %}
        <br>
        <br>
        -->

        <p id="develop_mode_change"> <p>
        <p id="develop_timer_update"> <p>

    </div>
</div>

{% endblock %}

