{% extends "tracking_2d_base.html" %} 

{% block head %}
{{ super() }}
<title> MCT:Tracking Control</title>

{% endblock %}

{% block content %}
{{ super() }}

<div id="Wrapper">
    <div id="Navigation">
    {{ tabs.display_tabs('control', tab_list) }}
    </div>
    <div id="Content">
        <br>
        <strong> Operating Mode: </strong>
        <form name="mode form">
            <input type="radio" name="mode" value="standby"> Standby 
            <input type="radio" name="mode" value="preview" checked> Preview 
            <input type="radio" name="mode" value="recording"> Recording 
        </form>
        <br>
        <div>
            <img id="image_watchdog_info" src="http://{{ip_iface_ext}}:{{watchdog_mjpeg_info['mjpeg_port']}}/stream?topic={{watchdog_mjpeg_info['image_topic']}}" />
        </div>
    </div>
</div>

{% endblock %}
