{% extends "tracking_2d_base.html" %} 

{% block head %}
{{ super() }}
<title> MCT:Tracking {{extra_video_name.title()}} </title>

{% endblock %}

{% block content %}
{{ super() }}

<div id="Wrapper">
    <div id="Navigation">
    {{ tabs.display_tabs(extra_video_name, tab_list) }}
    </div>
    <div id="Content">
        <br> Extra video content, name = {{extra_video_name.title()}} <br> 
        {% for k, v in mjpeg_info_dict.iteritems() %}
        <p> {{k}} {{v}}</p>
        {% endfor %}

    </div>
</div>

{% endblock %}
