<launch>
  <group ns="simulation/camera1" >
    <node pkg="mct_simulation" type="simulated_camera_node.py" name="simulated_camera_node">
      <param name="camera_name" value="camera1" type="str"/>
    </node>
    <node pkg="mct_simulation" type="simulated_camera_info_node" name="simulated_camera_info_node">
    </node>
  </group>

  <group ns="simulation/camera6" >
    <node pkg="mct_simulation" type="simulated_camera_node.py" name="simulated_camera_node">
      <param name="camera_name" value="camera6" type="str"/>
    </node>
    <node pkg="mct_simulation" type="simulated_camera_info_node" name="simulated_camera_info_node">
    </node>
  </group>

</launch>
